#background{
    background-image: url("background.jpg");
    background-size: cover;
}
h1{
    background-color: black;
    color: red;
    margin-top: 0px;
    font-size: 25px;
    height: 50px;
    padding-top: 10px;
}
button{
    background-color: black;
    color: red;
}
h3{
    background-color: black;
    color: red;
    width: 500px;
    border-radius: 15px;
}
canvas{
    border: 2px solid black;
}
#rodape{
    background-color: black;
    color: red;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}
canvas{
    margin-top: 50px;
}